
@define-mixin border-side-1px $side, $color {
    padding-left: 16px;
    &::after {
        content: "";
        background-url: url(/icons/$(name).png);
    }
}

@define-mixin border-all-1px $color {
    position: relative;
    /* &::after {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 1px;
        border-top: 1px solid $color;
        color: $color;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    } */
    &::before {
        background-color: $color;
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        transform: scaleY(.5) translateY(100%);
        transform-origin: 100% 50%;
        width: 100%;
        z-index: 2;
    }
}
